* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.8ms;
}
.nav_menu {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.menu_container {
  width: 90vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo {
  font-size: 40px;
}
.menu_items {
  list-style: none;
  display: flex;
}
.menu_items li {
  margin: 0px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}
.menu_items li:hover {
  color: lightseagreen;
  cursor: pointer;
}
.hero_section {
  width: 100%;
  height: 90vh;
  background-color: black;
  margin: 0 auto;
}
.hero_body {
  width: 90%;
  height: auto;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.hero_left {
  width: 50%;
  height: fit-content;
}
.hero_slogan {
  color: #ff2821;
  font-size: 20px;
}
.hero_title {
  color: white;
  font-size: 65px;
  font-weight: bold;
}
.hero_info {
  font-size: 22px;
  color: white;
}
.hero_btn {
  padding: 15px 35px;
  background-color: #ff2821;
  color: white;
  font-size: 16px;
  margin: 20px 0px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.hero_btn:hover {
  background-color: lightseagreen;
}
.hero_right {
  width: 50%;
  height: 100%;
}
.banner {
  width: 700px;
  height: 100%;
}
.banner img {
  width: 100%;
}
.take_look {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.look_heading {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.look_heading h1 {
  font-size: 70px;
  color: #ff2821;
}
.card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card_description {
  margin: 20px;
  padding: 15px 10px;
  width: 350px;
  height: 350px;
  box-shadow: -1px 5px 25px lightgray;
  border-radius: 7px;
  text-align: center;
}
.card_description img {
  width: 50%;
  height: fit-content;
}
.card_description p {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(89, 102, 116);
  padding: 10px;
}
.card_description a {
  text-decoration: none;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  color: #ff2821;
}
.about_us {
  width: 100%;
  height: 100vh;
  padding: 25px 0px;
  margin-top: 40px;
  text-align: center;
  background-color: black;
  color: white;
}
.about_title {
  font-size: 70px;
  color: #ff2821;
}
.about_content {
  width: 90%;
  height: fit-content;
  display: flex;
  margin: 0 auto;
}
.about_img {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.about_img img {
  width: 45%;
  height: fit-content;
}
.about_info {
  width: 50%;
  text-align: left;
  padding-left: 25px;
}
.about_info h1 {
  font-size: 3.3em;
  margin: 15px 0px;
}
.about_info h3 {
  font-size: 1.5em;
  color: lightgrey;
  margin: 25px 0px;
}
.about_info p {
  font-size: 0.9em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 20px;
  font-weight: lighter;
  color: lightgrey;
  margin-bottom: 30px;
}
.about_btn {
  background-color: #ff2821;
  color: white;
  padding: 15px 35px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.about_btn:hover {
  background-color: lightseagreen;
}

.workout_container {
  width: 100%;
  height: 50vh;
  padding: 25px;
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout_body {
  width: 700px;
  height: 200px;
  background-image: url("./images/shape/Group_33094_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.workout_title h1 {
  font-size: 35px;
  color: white;
}
.workout_btn a {
  text-decoration: none;
  padding: 15px 35px;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.workout_btn a:hover {
  background-color: lightseagreen;
  color: white;
}
.service_container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.service_container h1 {
  font-size: 70px;
  color: #ff2821;
  text-align: center;
}
.service_body {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.service_card {
  width: 350px;
  height: 450px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 9px;
}
.service_info {
  padding: 15px;
}
.service_info h3 {
  color: #ff6b66;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  margin-top: 10px;
}
.service_info h2 {
  font-size: 1.7em;
  color: #3d3d3f;
  margin-top: 5px;
}
.service_info small {
  color: rgb(163, 163, 163);
}
.service_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.service_footer h2 {
  font-size: 2.5em;
  color: #6b6a6d;
}
.service_footer p {
  color: #ff2821;
  cursor: pointer;
}
